spring:
  application:
    name: Orato

  datasource:
    url: jdbc:mysql://localhost:3306/Orato?useSSL=false&useUnicode=true&serverTimezone=Asia/Seoul&allowPublicKeyRetrieval=true
    username: root
    password: DB-PASSWORD-HERE

  jpa:
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
    hibernate:
      ddl-auto: update
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl
    show-sql: true

  servlet:
    multipart:
      max-file-size: 2GB
      max-request-size: 2GB

server:
  port: 8080
